mixin header
    h6
        .col-md-12
            span |*|*|*| &nbsp   #{cP} &nbsp   |*|*|*|    &nbsp &nbsp &nbsp &nbsp &nbsp
                span <- #{lP} &nbsp &nbsp &nbsp &nbsp &nbsp
                    if (U)
                        span logged in as "#{u}"
                    else
                        span not logged in
                if (nav)
                    each value, key in nav
                        a.btn.btn-success.btn-large(href="#{value}") #{key}
                else
                    .pull-right
                        span ---
                        if (u)
                            a.btn-mini(href="/logout") logout
                            span ---
                        else
                            button.btn-mini(href="/users/new") new
                            button.btn-mini(href="/login") log in
                            span ---

mixin private-nav
    if (u)
        each value, key in nav-private
            li: a(href="#{value}") #{key}
    else
        li cant view some





mixin bs-html(language)
    html(lang=#{language})


mixin border
    p.alert





mixin bs-navbar-fixed-top(brandlink,links)
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            .container
                button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='#{brandlink.url}') #{brandlink.name}
                .nav-collapse.collapse
                    ul.nav
                        each link in links
                            li.active
                                a(href='#{link.url}') #{link.name}

