h3 Welcome to the landing page for #{name} !
br
div.hero-unit
    p Welcome to the new dating site called #{name}!
    p Here we specialize on matching people who share a love of #{focus}.
    p On #{name}, you don't need to hope that people like #{focus}, you know they do!
    p If not, then they are a damn #{profanity}!

button.btn-large If you don't click here, you are a real #{profanity}-head!!